<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.com">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center" th:text="${pageTitle}"></h2>
                        <h2 class="text-center" th:text="${flag}"></h2>

                        <div th:if="${flag == 'true'}">
                                <form action="#" th:action="@{/product/add}" th:object="${pr}" method="post"
                                     >
                                    <input type="hidden" id="id" th:field="*{id}" th:value="${pr.getId()}">

                                    <label for="productName" class="form-label">product name</label>
                                    <input type="text" id="productName" class="form-control " th:field="*{productName}"
                                           th:value="${pr.getProductName()}">
                                    <label for="productPrice" class="form-label">product price</label>
                                    <input type="text" id="productPrice" class="form-control " th:field="*{price}"
                                           th:value="${pr.getPrice()}">
                                    <label for="productQuantity" class="form-label">product quantity</label>
                                    <input type="text" id="productQuantity" class="form-control " th:field="*{quantity}"
                                           th:value="${pr.getQuantity()}">
                                    <label for="productBrand" class="form-label">product brand</label>
                                    <input type="text" id="productBrand" class="form-control " th:field="*{brand}"
                                           th:value="${pr.getBrand()}">

                                    <select th:field="*{catId}" class="for-controller">
                                        <option th:each="c: ${categories}" th:value="${c.getId()}"
                                                th:text="${c.getName()}"></option>
                                    </select>
                                    <input type="submit" th:value="${button}" class="btn btn-light">
                                    <h2>aaaaa</h2>
                                </form>
                            </div>
                            <div th:unless="${flag == 'true'}">
                                <form action="#" th:action="@{/product/edit/{id}(id=${pr.getId()})}" th:object="${pr}"
                                      method="post" th:if="${!flag}">
                                    <input type="hidden" id="id" th:field="*{id}" th:value="${pr.getId()}">

                                    <label for="productName" class="form-label">product name</label>
                                    <input type="text" id="productName" class="form-control " th:field="*{productName}"
                                           th:value="${pr.getProductName()}">
                                    <label for="productPrice" class="form-label">product price</label>
                                    <input type="text" id="productPrice" class="form-control " th:field="*{price}"
                                           th:value="${pr.getPrice()}">
                                    <label for="productQuantity" class="form-label">product quantity</label>
                                    <input type="text" id="productQuantity" class="form-control " th:field="*{quantity}"
                                           th:value="${pr.getQuantity()}">
                                    <label for="productBrand" class="form-label">product brand</label>
                                    <input type="text" id="productBrand" class="form-control " th:field="*{brand}"
                                           th:value="${pr.getBrand()}">

                                    <select th:field="*{catId}" class="for-controller">
                                        <option th:each="c: ${categories}" th:value="${c.getId()}"
                                                th:text="${c.getName()}"></option>
                                    </select>
                                    <input type="submit" th:value="${button}" class="btn btn-light">
                                    <h2>aaaaa</h2>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>